soilsensor-nodered.json
[
    {
        "id": "c93b398f1ffd31dc",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": ""
    },
    {
        "id": "6af34c273284821d",
        "type": "modbus-read",
        "z": "c93b398f1ffd31dc",
        "name": "",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "254",
        "dataType": "HoldingRegister",
        "adr": "",
        "quantity": "8",
        "rate": "",
        "rateUnit": "",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "87b2e082fdfd6bcd",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 170,
        "y": 260,
        "wires": [
            [
                "2e89bf1613c97a71"
            ],
            [
                "16d8042854f6c299"
            ]
        ]
    },
    {
        "id": "2e89bf1613c97a71",
        "type": "buffer-parser",
        "z": "c93b398f1ffd31dc",
        "name": "",
        "data": "payload",
        "dataType": "msg",
        "specification": "spec",
        "specificationType": "ui",
        "items": [
            {
                "type": "int16be",
                "name": "Moisture",
                "offset": 2,
                "length": 1,
                "offsetbit": 0,
                "scale": ".01",
                "mask": ""
            },
            {
                "type": "int16be",
                "name": "Temperature",
                "offset": 8,
                "length": 1,
                "offsetbit": 0,
                "scale": ".01",
                "mask": ""
            },
            {
                "type": "int16be",
                "name": "Conductivity",
                "offset": 14,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            }
        ],
        "swap1": "",
        "swap2": "",
        "swap3": "",
        "swap1Type": "swap",
        "swap2Type": "swap",
        "swap3Type": "swap",
        "msgProperty": "payload",
        "msgPropertyType": "str",
        "resultType": "keyvalue",
        "resultTypeType": "return",
        "multipleResult": false,
        "fanOutMultipleResult": false,
        "setTopic": true,
        "outputs": 1,
        "x": 210,
        "y": 220,
        "wires": [
            [
                "33025587af516f89",
                "fff20358006f39f8",
                "79144fe9b0bb5842",
                "73f9c0fed786466a",
                "a47f343975120e66",
                "367720f27a371da9"
            ]
        ]
    },
    {
        "id": "33025587af516f89",
        "type": "ui_text",
        "z": "c93b398f1ffd31dc",
        "group": "4e53e13752b356d9",
        "order": 1,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Moisture (%): ",
        "format": "{{msg.payload.Moisture}}",
        "layout": "row-spread",
        "className": "",
        "x": 390,
        "y": 220,
        "wires": []
    },
    {
        "id": "fff20358006f39f8",
        "type": "ui_text",
        "z": "c93b398f1ffd31dc",
        "group": "4e53e13752b356d9",
        "order": 3,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Temperature (°C): ",
        "format": "{{msg.payload.Temperature}}",
        "layout": "row-spread",
        "className": "",
        "x": 410,
        "y": 180,
        "wires": []
    },
    {
        "id": "79144fe9b0bb5842",
        "type": "ui_text",
        "z": "c93b398f1ffd31dc",
        "group": "4e53e13752b356d9",
        "order": 5,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "EC (uS/cm): ",
        "format": "{{msg.payload.Conductivity}}",
        "layout": "row-spread",
        "className": "",
        "x": 390,
        "y": 140,
        "wires": []
    },
    {
        "id": "73f9c0fed786466a",
        "type": "function",
        "z": "c93b398f1ffd31dc",
        "name": "",
        "func": "msg.payload=msg.payload.Temperature\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 260,
        "wires": [
            [
                "a9f5090fbc73eee2",
                "b4fb50b07d67b532",
                "b24e7921befb21a9"
            ]
        ]
    },
    {
        "id": "454381ee13915dbc",
        "type": "ui_chart",
        "z": "c93b398f1ffd31dc",
        "name": "",
        "group": "3ba37fd4.6558f",
        "order": 1,
        "width": 8,
        "height": 5,
        "label": "Moisture",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "No Data",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 580,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "a47f343975120e66",
        "type": "function",
        "z": "c93b398f1ffd31dc",
        "name": "",
        "func": "msg.payload=msg.payload.Moisture\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 340,
        "wires": [
            [
                "454381ee13915dbc",
                "b4fb50b07d67b532",
                "f2d93ce35b2940c1"
            ]
        ]
    },
    {
        "id": "367720f27a371da9",
        "type": "function",
        "z": "c93b398f1ffd31dc",
        "name": "",
        "func": "msg.payload=msg.payload.Conductivity\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 420,
        "wires": [
            [
                "1252843bddd2ff87",
                "b4fb50b07d67b532",
                "9678f93971f05a55"
            ]
        ]
    },
    {
        "id": "a9f5090fbc73eee2",
        "type": "ui_chart",
        "z": "c93b398f1ffd31dc",
        "name": "",
        "group": "33a8fa297a2dbc82",
        "order": 1,
        "width": 8,
        "height": 5,
        "label": "Temperature",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "No Data",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 590,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "1252843bddd2ff87",
        "type": "ui_chart",
        "z": "c93b398f1ffd31dc",
        "name": "",
        "group": "129090270c80a0dc",
        "order": 1,
        "width": 8,
        "height": 5,
        "label": "Conductivity",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "No Data",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 590,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "06937951d6f1b6f4",
        "type": "file",
        "z": "c93b398f1ffd31dc",
        "name": "",
        "filename": "C:\\Users\\Syed Mohiuddin Zia\\tempfile.csv",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 680,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "b4fb50b07d67b532",
        "type": "join",
        "z": "c93b398f1ffd31dc",
        "name": "",
        "mode": "custom",
        "build": "string",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": ",",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "3",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 570,
        "y": 220,
        "wires": [
            [
                "06937951d6f1b6f4"
            ]
        ]
    },
    {
        "id": "c68a0832f8cb4f3f",
        "type": "debug",
        "z": "c93b398f1ffd31dc",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 420,
        "wires": []
    },
    {
        "id": "b24e7921befb21a9",
        "type": "firebase modify",
        "z": "c93b398f1ffd31dc",
        "name": "Temperature",
        "firebaseconfig": "",
        "childpath": "modbus/Temperature",
        "method": "set",
        "value": "msg.payload",
        "priority": "msg.priority",
        "x": 590,
        "y": 420,
        "wires": [
            [
                "c68a0832f8cb4f3f"
            ]
        ]
    },
    {
        "id": "6415997e4a28a200",
        "type": "debug",
        "z": "c93b398f1ffd31dc",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 480,
        "wires": []
    },
    {
        "id": "f2d93ce35b2940c1",
        "type": "firebase modify",
        "z": "c93b398f1ffd31dc",
        "name": "Moisture",
        "firebaseconfig": "",
        "childpath": "modbus/Moisture",
        "method": "set",
        "value": "msg.payload",
        "priority": "msg.priority",
        "x": 580,
        "y": 480,
        "wires": [
            [
                "6415997e4a28a200"
            ]
        ]
    },
    {
        "id": "9cea45262c98651e",
        "type": "debug",
        "z": "c93b398f1ffd31dc",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 540,
        "wires": []
    },
    {
        "id": "9678f93971f05a55",
        "type": "firebase modify",
        "z": "c93b398f1ffd31dc",
        "name": "Conductivity",
        "firebaseconfig": "",
        "childpath": "modbus/Conductivity",
        "method": "set",
        "value": "msg.payload",
        "priority": "msg.priority",
        "x": 590,
        "y": 540,
        "wires": [
            [
                "9cea45262c98651e"
            ]
        ]
    },
    {
        "id": "16d8042854f6c299",
        "type": "debug",
        "z": "c93b398f1ffd31dc",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 190,
        "y": 320,
        "wires": []
    },
    {
        "id": "87b2e082fdfd6bcd",
        "type": "modbus-client",
        "name": "",
        "clienttype": "simpleser",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "127.0.0.1",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "COM11",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": "1",
        "commandDelay": "1",
        "clientTimeout": "1000",
        "reconnectOnTimeout": true,
        "reconnectTimeout": "2000",
        "parallelUnitIdsAllowed": true,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "4e53e13752b356d9",
        "type": "ui_group",
        "name": "Soil Sensor",
        "tab": "72415252.b2cadc",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3ba37fd4.6558f",
        "type": "ui_group",
        "name": "Moisture",
        "tab": "72415252.b2cadc",
        "order": 1,
        "disp": false,
        "width": "8",
        "collapse": false,
        "className": ""
    },
    {
        "id": "33a8fa297a2dbc82",
        "type": "ui_group",
        "name": "Temperature",
        "tab": "72415252.b2cadc",
        "order": 2,
        "disp": false,
        "width": "8",
        "collapse": false,
        "className": ""
    },
    {
        "id": "129090270c80a0dc",
        "type": "ui_group",
        "name": "Conductivity",
        "tab": "72415252.b2cadc",
        "order": 3,
        "disp": false,
        "width": "8",
        "collapse": false,
        "className": ""
    },
    {
        "id": "72415252.b2cadc",
        "type": "ui_tab",
        "name": "Modbus",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]